.post .container{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.graduate{
    width: 60%;
}

.graduate img{
    width: 100%;
}

.post-categories{
    width: 30%;
}

.post-categories h4{
    background-color: rgba(255, 0, 0, 0.7);
    word-spacing: 4px;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.post-categories p{
    display: flex;
    justify-content: space-between;
}

.online-certificate .container h4{
    font-size: 5vmin;
    padding-bottom: 10px;
}

form h4{
    font-size: 1.3em;
}

#name, #email, textarea{
    width: 50%;
    padding: 8px;
    background-color: rgba(201, 200, 200, 0.3);
    outline: none;
    border: none;
    margin-bottom: 20px;
}

input::placeholder, textarea::placeholder{
    color: rgb(167, 165, 165);
}

.comment-btn{
    border: 2px solid skyblue;
    padding: 10px 30px;
    color: skyblue;
    transition: .5s;
    cursor: pointer;
    margin-bottom: 30px;
}

.comment-btn:hover{
    background-color: skyblue;
    color: white;
}

@media (max-width:700px){
    .post .container{
        flex-direction: column;
    }

    .graduate, .post-categories{
        width: 100%;
    }

    #name, #email, textarea{
        width: 100%;
    }
}